language: cpp
compiler:
  - gcc
  - clang
install:
  - sudo apt-get update
  - sudo apt-get install liblapack-dev liblas-dev
  - cmake . -DBUILD_EXAMPLES=off -DBUILD_VISUALIZER=off && make
script: ctest
