# This script is used by the Travis-CI (continuous integration) testing
# framework to run Simbody's tests with every GitHub push or pull-request.
language: cpp

env:
  # Each line is a separate build in the build matrix. A build in the build
  # matrix is defined by the environment variables defined on the line, which
  # should be space-delimited. For example,
  # - ABC=ON DEF=OFF GHI=ON
  - CPP11=OFF BTYPE=Release
  - CPP11=ON BTYPE=Release

compiler:
  - gcc
  - clang

before_install:
  ## Dependencies for Simbody.
  - sudo apt-get update
  - sudo apt-get install liblapack-dev

  # C++11. Update to gcc 4.8, which provides full C++11 support.  We use this
  # script because if building Simbody with C++11, we need gcc-4.8, and the
  # Travis Ubuntu 12.04 machines have an older version of gcc. Even if building
  # with Clang, we need the newer libstdc++ that we get by updating to gcc-4.8.
  # See https://github.com/travis-ci/travis-ci/issues/979.
  - if [ "$CPP11" = "ON" ]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y; fi
  - if [ "$CPP11" = "ON" ]; then sudo apt-get update -qq; fi
  - if [ "$CPP11" = "ON" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [[ "$CPP11" = "ON" && "$CXX" = "g++" ]]; then export CXX="g++-4.8" CC="gcc-4.8"; fi

install:
  - cmake . -DBUILD_VISUALIZER=OFF -DSIMBODY_STANDARD_11=$CPP11 -DCMAKE_BUILD_TYPE=$BTYPE -DCMAKE_CXX_FLAGS=-Wall
  - make -j8

script:
  - ctest -j8 --output-on-failure
