# Windows testing using Visual Studio.

# Syntax for this file:
# http://www.appveyor.com/docs/appveyor-yml

# See http://msdn.microsoft.com/en-us/library/ms164311.aspx for
# command-line options to MSBuild.

# Speeding up a Visual Studio build.
# http://blogs.msdn.com/b/vcblog/archive/2011/01/05/damn-my-vc-project-is-building-slower-in-vs2010-what-do-i-do-now-a-step-by-step-guide.aspx

version: '{build}'

shallow_clone: true

platform: x64

os:
  - Windows Server 2012
  - Visual Studio 2015 RC

init:
  # Figure out which version of Visual Studio is going to be used.
  - ps: if (Test-Path "C:\Program Files (x86)\MSBuild\14.0") { $env:VSVER="14" } else { $env:VSVER="12" }
  - echo "Will be compiling with VS%VSVER%."

build_script:
  - nuget install simbody-VS2013-x64 -Version 3.5 -ExcludeVersion -OutputDirectory C:\
  - 
  ## To enter the virtual machine using remote desktop:
  - git clone -q https://github.com/appveyor/ci.git
  - ps: .\ci\scripts\enable-rdp.ps1
   
  # Must create separate build dir, otherwise can't read test files
  # for some reason.
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio %VSVER% Win64" -DBUILD_VISUALIZER=OFF -DCMAKE_INSTALL_PREFIX=C:\simbody
  # See http://msdn.microsoft.com/en-us/library/ms164311.aspx for
  # command-line options to MSBuild.
  - cmake --build . --target ALL_BUILD --config Release -- /maxcpucount:4 /verbosity:quiet

test_script:
  - ctest --parallel 4 --build-config Release --output-on-failure
    
after_test:
  ## On master branch, create NuGet package for Simbody, for use by OpenSim.
  # Detect if we are on the master branch.
  #- IF %APPVEYOR_REPO_BRANCH% EQU simbody-3.5 IF NOT DEFINED APPVEYOR_PULL_REQUEST_NUMBER SET DISTR=TRUE
  - SET DISTR=TRUE
  # Install Simbody.
  - IF DEFINED DISTR cmake --build . --target install --config Release -- /maxcpucount /verbosity:quiet
  # Create NuGet package.
  - IF DEFINED DISTR cd %APPVEYOR_BUILD_FOLDER%
  # Create a nupkg. The install directory is to be packaged.
  - IF DEFINED DISTR nuget pack .simbody.nuspec -BasePath C:\simbody
  # The line above creates the file simbody.0.0.0.nupkg.
  # Push this file to Appveyor's NuGet account feed, to be used by OpenSim.
  - IF DEFINED DISTR move simbody.3.5.nupkg simbody-%VSVER%-x64.3.5.nupkg
  - IF DEFINED DISTR appveyor PushArtifact simbody-%VSVER%-x64.3.5.nupkg
