#!/usr/bin/make -f
# -*- makefile -*-

.PHONY: override_dh_auto_configure   \
        override_dh_auto_install     \
	override_dh_auto_test        \
        override_dh_strip

override_dh_auto_configure:
	dh_auto_configure --  \
	    -DSimTK_INSTALL_PREFIX:PATH=/usr

override_dh_auto_install:
	dh_auto_install -- # Install.

override_dh_auto_test:
	dh_auto_test || true

override_dh_strip:
	dh_strip -a --dbg-package=simbody-dbg

%:
	dh $@ --parallel
